### Q1. What is a Database?

A **database** is an organized collection of data that can be easily accessed, managed, and updated. Databases are used to store information systematically to facilitate efficient retrieval, modification, and management. They are essential for various applications, ranging from websites to enterprise systems.

### Differentiation Between SQL and NoSQL Databases

| **Aspect**            | **SQL Databases**                          | **NoSQL Databases**                          |
|------------------------|-------------------------------------------|----------------------------------------------|
| **Definition**         | Relational databases that use structured query language (SQL) for defining and manipulating data. | Non-relational databases designed for flexible schema and unstructured or semi-structured data. |
| **Data Model**         | Relational (tables with rows and columns). | Non-relational (document, key-value, graph, or wide-column stores). |
| **Schema**             | Predefined schema; structure is fixed.    | Dynamic schema; flexible structure.          |
| **Scalability**        | Vertically scalable (adding more resources to a single server). | Horizontally scalable (adding more servers). |
| **Query Language**     | Uses SQL for queries (e.g., `SELECT`, `INSERT`). | Queries depend on the database type, often using APIs or query languages like JSON. |
| **Examples**           | MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server. | MongoDB, Cassandra, Redis, CouchDB, Neo4j.   |
| **Best for**           | Structured data and complex queries requiring ACID compliance. | Unstructured or semi-structured data, high scalability needs. |
| **ACID Compliance**    | Fully supports ACID (Atomicity, Consistency, Isolation, Durability). | May not fully support ACID but often support BASE (Basically Available, Soft state, Eventually consistent). |
| **Use Cases**          | Banking systems, ERP, CRM, and e-commerce platforms. | Real-time analytics, IoT, content management, and social networks. |

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ANS: DDL (Data Definition Language):
DDL is used to define or modify the structure of database objects like tables, indexes, and schemas.

Commands:
1. CREATE: Used to create a new table or database.
Example:

        CREATE TABLE students (
        id INT PRIMARY KEY,
        name VARCHAR(50),
        age INT
        );

2. DROP: Deletes an entire table or database permanently.
Example:

        DROP TABLE students;

3. ALTER: Modifies an existing table structure.  Example:

        ALTER TABLE students ADD COLUMN address VARCHAR(100);

4. TRUNCATE: Removes all records from a table but retains its structure.
Example:

        TRUNCATE TABLE students;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
ANS: DML (Data Manipulation Language):
DML is used to manipulate the data stored in a database.

Commands:
1. INSERT: Adds new records.
Example:

        INSERT INTO students (id, name, age) VALUES (1, 'Alice', 20);

2. UPDATE: Modifies existing records.
Example:

        UPDATE students SET age = 21 WHERE id = 1;

3. DELETE: Removes specific records.
Example:

        DELETE FROM students WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.
ANs: DQL (Data Query Language):
DQL is used to retrieve data from a database.

Command:

SELECT: Retrieves records based on conditions.
Example:

    SELECT name, age FROM students WHERE age > 18;

### Q5. Explain Primary Key and Foreign Key.
ANS: Primary Key:
A unique identifier for a row in a table. It cannot be NULL or duplicate.
Example:

    CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50)
    );
Foreign Key:
A column in one table that establishes a relationship with the primary key of another table.
Example:

    CREATE TABLE enrollments (
    student_id INT,
    course_id INT,
    FOREIGN KEY (student_id) REFERENCES students(id)
    );

### Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() methods.
ANS: Code:

    import mysql.connector

    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="password",
        database="school"
    )

    # Create a cursor object
    cursor = connection.cursor()

    # Execute a query
    cursor.execute("SELECT * FROM students")

    # Fetch and print results
    for row in cursor.fetchall():
        print(row)

    # Close connection
    cursor.close()
    connection.close()
    Explanation:
    cursor() method:

    Creates a cursor object to interact with the database.
    Enables query execution and result retrieval.
    execute() method:

    Executes SQL queries (e.g., SELECT, INSERT, UPDATE).
    Takes a query string as input.

### Q7. Give the order of execution of SQL clauses in an SQL query.
ANS: Order of Execution:

FROM - Specifies the table to query.

WHERE - Filters rows based on conditions.

GROUP BY - Groups rows based on specified columns.

HAVING - Filters grouped rows.

SELECT - Retrieves specific columns or expressions.

ORDER BY - Sorts the result set.

LIMIT/OFFSET - Limits the number of rows returned.

Example Query:

    SELECT name, COUNT(*)
    FROM students
    WHERE age > 18
    GROUP BY name
    HAVING COUNT(*) > 1
    ORDER BY name
    LIMIT 5;