Q1. Create one variable containing following type of data:

(i)	string

(ii) list

(iii) float

(iv) tuple

In [1]:
# String
str = "Hello, world!"

# List
lst = [1, 2, 3, 4, 5]

# Float
flt = 3.14

# Tuple
tpl = (10, 20, 30)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.

What will be the data type of the above given variable.

ANS: 
    
(i) Data Type: String
    
(ii) Data Type: String

(iii) Data Type: List

(iv) Data Type: Float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii) % 

(iii) //

(iv) **

ANS:
(i) / (Division Operator):
The / operator performs regular division and returns a floating-point (decimal) result.

In [2]:
print(9/2)

4.5

(ii) % (Modulus Operator):
The % operator returns the remainder of the division of one number by another.

In [3]:
print(9%2)

1

(iii) // (Floor Division Operator):
The // operator performs division and rounds the result down to the nearest integer (floor division).

In [4]:
print(9//2)

4

(iv) ** (Exponentiation Operator):
The ** operator is used for exponentiation, raising a number to a certain power.

In [7]:
print(9**2)

81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [10]:
my_list = [42, "Hello", 3.14, True, [1, 2, 3], {"name": "Kalpesh", "age": 19}, None, (1,2,3), 20, False]

for item in my_list:
    print(f"Element: {item}, Data Type: {type(item)}")

Element: 42, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'Kalpesh', 'age': 19}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: (1, 2, 3), Data Type: <class 'tuple'>
Element: 20, Data Type: <class 'int'>
Element: False, Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [11]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

if B == 0:
    print("B cannot be 0 for division.")
else:
    count = 0
    while A >= B:
        A -= B
        count += 1
    
    if A == 0:
        print("A is purely divisible by B.")
        print(f"A can be divided by B {count} times.")
    else:
        print("A is not purely divisible by B.")
        print(f"A can be divided by B {count} times with a remainder of {A}.")

Enter the value of A: 15
Enter the value of B: 4
A is not purely divisible by B.
A can be divided by B 3 times with a remainder of 3.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [12]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [ ]:
ANS:
Immutable Data Types:
Values cannot be changed after creation. Any change results in a new object.
Examples: Integers, Strings, Tuples

Mutable Data Types:
Values can be changed after creation without creating a new object.
Examples: Lists, Dictionaries, Sets