### Q1: Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
```python
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)
```

**Output:**
```
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
```


### Q2: Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable. Print it.
```python
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

series_from_list = pd.Series(my_list)

print(series_from_list)
```

**Output:**
```
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
```

---

### Q3: Create a Pandas DataFrame that contains the following data:

| Name     | Age | Gender       |
|----------|-----|--------------|
| Alice    | 25  | Female       |
| Bob      | 30  | Male         |
| Charlie  | 35  | Female       |

Then, print the DataFrame.

```python
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print(df)
```

**Output:**
```
      Name  Age         Gender
0    Alice   25         Female
1      Bob   30           Male
2  Charlie   35         Female
```


### Q4: What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

**Explanation:**
- A **Series** is a one-dimensional labeled array that can hold any data type (e.g., integers, strings, floating-point numbers). It is similar to a single column of data.
- A **DataFrame** is a two-dimensional labeled data structure, akin to a table in a database or a spreadsheet. It consists of rows and columns.

**Example:**
```python
series = pd.Series([10, 20, 30], name="Numbers")
print("Series:")
print(series)

data = {
    "Numbers": [10, 20, 30],
    "Squares": [100, 400, 900]
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)
```

**Output:**
```
Series:
0    10
1    20
2    30
Name: Numbers, dtype: int64

DataFrame:
   Numbers  Squares
0       10      100
1       20      400
2       30      900
```

### Q5: What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

**Common functions:**
1. `df.head(n)` - View the first `n` rows.
2. `df.tail(n)` - View the last `n` rows.
3. `df.describe()` - Generate summary statistics.
4. `df.isnull()` - Check for missing values.
5. `df.drop()` - Remove rows/columns.
6. `df.fillna()` - Fill missing values.
7. `df.groupby()` - Group data by one or more columns.
8. `df.sort_values()` - Sort the DataFrame by a specific column.

**Example:**
Suppose you want to sort a DataFrame by the "Age" column:
```python
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [30, 25, 35],
    "City": ["New York", "San Francisco", "Chicago"]
}
df = pd.DataFrame(data)

# Sorting the DataFrame by Age
sorted_df = df.sort_values(by="Age")
print(sorted_df)
```

**Output:**
```
      Name  Age           City
1      Bob   25  San Francisco
0    Alice   30       New York
2  Charlie   35        Chicago
```

### Q6: Which of the following is mutable in nature: Series, DataFrame, Panel?

**Answer:**  
- **Series**: Mutable (values can be changed).
- **DataFrame**: Mutable (both structure and values can be changed).
- **Panel**: Mutable (deprecated as of Pandas 1.0.0).


### Q7: Create a DataFrame using multiple Series. Explain with an example.

```python
# Creating multiple Series
names = pd.Series(["Alice", "Bob", "Charlie"])
ages = pd.Series([25, 30, 35])
cities = pd.Series(["New York", "San Francisco", "Chicago"])

# Combining the Series into a DataFrame
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "City": cities
})

# Printing the DataFrame
print(df)
```

**Output:**
```
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35        Chicago
```